html {
    font-size: 16px;
}
header section:first-child,
footer section:first-child {
    background-color: #000000;
}
main section:first-child {
    background-color: #000000;
    background-image: url(../images/image.png);
    background-size: cover;
    background-repeat: no-repeat;
}
main section:nth-child(2),
main section:nth-child(4),
main section:nth-child(6),
main section:nth-child(8) {
    background-color: #ffffff;
}
main section:nth-child(5),
main section:nth-child(3) {
    background-color: #f5f5f5;
    text-align: center;
}
main section:nth-child(7) {
    background-color: #000000;
    background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    width: 100%;
}
.title_b {
    text-transform: uppercase;
    text-align: center;
    font-size: 2.25rem;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: #212121; 
}
.title_w {
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-size: 2.25rem;
    font-weight: 400;
    text-transform: uppercase;
}
.design-block .title_w::after {
    content: '';
    height: 2px;
    width: 64px;
    display: block;
    margin: 30px auto;
    background-color: #ffffff;
}
.title_b::after {
    content: '';
    height: 2px;
    width: 64px;
    display: block;
    margin: 30px auto;
    background-color: #ff8c2c;
}
.description_w {
    opacity: 0.8;
    color: #ffffff;
    font-family: "Raleway";
    font-size: 1rem;
    font-weight: 300;
}
.axit-block .description_w {
    margin-bottom: 36px;
}
.description_b {
    font-family: "Open Sans";
    font-size: 0.875rem;
    font-weight: 400;
    color: #86878b;
    text-align: center;
}
.social-container .description_b {
    text-align: left;
}
.features-name .description_b {
    margin-bottom: 51px;
    text-align: left;
}

/* HEADER */

.header {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header-logo {
    margin: 22px 0px;
}

.navigation-list {
    max-width: 50%;
    display: flex;
}
    
.navigation-list__item {
    text-decoration: none;
    opacity: 0.69;
    color: #ffffff;
    font-family: "OpenSans", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    margin-left: 25px;
}

.navigation-list__item:hover {
    box-shadow: 0 0 15px rgba(0,0,4,0.7);
    color: #ff8c2c;
}

/* AXIT */

.axit-block {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 139px;
}

.axit-block__name__logo {
    padding: 110px 0px 33px 0px;
}

hr {
    height: 2px;
    max-width: 64px;
    background-color: #ffffff;
    margin-left: 0px;
    margin-top: 36px;
    margin-bottom: 30px;
}

hr:hover { 
    transition: 0.5s;
    width: 520px;
}

.axit-block__download__a {
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 15px 32px 14px 32px;
}

.axit-block__download__a:hover {
    box-shadow: 0 0 15px rgba(0,0,4,0.7);
    color: #ff8c2c;
}

.form {
    width: 360px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 140px; 
}

.form-title {
    background-color: #f5f5f5;
    border-radius: 10px 10px 0px 0px;
    color: #333333;
    font-family: "Open Sans", sans-serif;
    font-size: 1.25rem;
    padding: 18px 56px 15px 52px;
}

.form-title__free {
    color: #ff8b38;
    text-transform: uppercase;
}

.form-items {
    background-color: #ffffff;
    border-radius: 0px 0px 10px 10px;
}

.form-element__email, .form-element__name,
.form-element__password {
    max-width: 270px;
    border: none;
    opacity: 0.6;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: grey;
}

.form-element__name {
    margin: 36px auto;
}

.form-element__password {
    margin: 48px auto;
}

.form-element__submit {
    width: 100%;
    background-color: #ff9b51;
    padding: 21px 139px 20px 140px;
    border: none;
    color: #ffffff;
    font-family: "OpenSans", sans-serif;
    font-size: 0.9375rem;
    border-radius: 0px 0px 10px 10px;
}

.form-element__submit:hover {
    cursor: pointer;
}

/* SOCIAL */

main section:nth-child(2)::after {
    content: '';
    opacity: 0.6;
    height: 2px;
    width: auto;
    display: block;
    background-color: #86878b;
    text-align: center;
}

.social-container {
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.375rem;
}

.social-title {
    color: #333333;
    font-family: "Open Sans";
    font-size: 1.25rem;
    font-weight: 700;
    font-style: normal;
    margin-top: 22px;
    margin-bottom: 12px;
}

.social-logo__list {
    max-width: 634px; 
    display: flex; 
    justify-content: space-around;
}

.social-logo__list-item {
    opacity: 0.4;
    color: #86878b;
    margin: 28px 20px 0px 0px;
}

/* FEATURES */

.features {
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 147px;
    padding-bottom: 114px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    letter-spacing: normal;
    line-height: 20px;
}
.features-tabs input {
    display: none;
} 

.features-tabs__list {
    display: flex;
    flex-direction: column;
}

.features-tabs li{
    cursor: pointer;
    color: #ffffff;
    padding: 50px 37px 51px 35px;
    background-color: #333333;
    border: none;
    border-radius: 5px;
    margin-bottom: 1px;
    text-transform: uppercase;
}
.features-tabs li:focus {
    background-color: #ff8b38;
}
.features-name__title {
    font-family: "Open Sans";
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 52px;
}
.features-name__button_a {
    text-align: center;
    text-decoration: none;
    padding: 16px 25px;
    color: #ffffff;
    background-color: #ff8b38;
    border: none;
    border-radius: 5px;
}


/* ABOUT */

.content {
    max-width: 1400px;
    margin: 0 auto;
    background-color: #ffffff;
    font-family: "OpenSans", sans-serif;
    font-weight: 400;
    text-align: center;
    margin-top: 108px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.advantages-block {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.advantages-block__list__item {
  display: inline-block;
}

.advantages-block__list__item__title {
   font-size: 1.25rem;
   font-weight: 700;
   color: #333333;
   margin-bottom: 25px;
}

.advantages-block__list__item__description {
  max-width: 350px;
  font-size: 0.875rem;
  color: #122570;
  margin: 25px 32px;
  padding-bottom: 105px; 
}

.advantages-block__list__item__img {
    max-width: 70px;
    height: 70px;
    border: 1px solid #ff8c2c;
    border-radius: 50%;
    margin: 0 auto 29px auto;   
}

.advantages-block__list__item__lamp img {
    max-width: 19px;
    margin-top: 21px;
}

.advantages-block__list__item__keyboard img {
    max-width: 35px;
    margin-top: 24px;
}

.advantages-block__list__item__lightning {
    max-width: 17px;
    margin-top: 19px;
    margin-left: 26px;
}

/* PRICING */

.box {
    padding-top: 108px;
    max-width: 1400px;
    margin: 0 auto;
     display: flex;
    flex-direction: column;
    justify-content: center;
}

.price-block__cards {
    margin-top: 55px;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-around;
}

.price-block__card {
    margin-bottom: 96px;
    margin-right: 30px;
}

.price-block__card__title {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 1.25rem;
    font-weight: 700;
    background-color: #303030;
    margin-bottom: 2px;
    padding: 21px 0;
}

.price-block__card__price {
    color: #ffffff;
    font-family: "Raleway";
    font-size: 5.875rem;
    font-weight: 700;
    background-color: #303030;
    margin-bottom: 1px;
    justify-content: center;
    display: flex;
    align-items: baseline;
}

.price-block__card__price__dollar {
    color: #ffffff;
    font-family: "Raleway";
    font-size: 2.1875rem;
    font-weight: 700; 
}

.price-block__card__payment {
    color: grey;
    font-family: "Open Sans";
    font-size: 0.875rem;
    font-weight: 600;
    background-color: #303030;
    padding: 20px 100px;
    font-style: italic;
}

.price-block__card__popular {
    background-color: #ff8c2d;
    padding-bottom: 5px;
}

.price-block__card__popular__professional {
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 0.875rem;
    font-weight: 700;
    background-color: #ff8c2d;
    padding:  15px;
}

.price-block__card li {
    color: #86878b;
    font-family: "Open Sans";
    font-size: 0.875rem;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #ffffff;
    margin-bottom: 1px;
    padding: 14px;
}

/* REVIEWS */

.feedback-block {
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 108px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
.feedback-box {
    text-align: center;
}
.feedback-opinion__description {
    background-image: url(../images/background1.jpg);
    background-repeat: no-repeat;
    background-size: 273px 132px; 
    padding: 24px 13px 41px 12px;
    text-align: justify;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 0.875rem;
    font-style: italic;
    display: inline-block;
}

.feedback-opinion__img {
    margin: 8px 16px 101px 0px;
}

.feedback-cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-right: 40px;
}

.feedback-card {
    max-width: 273px;
    margin-top: 55px;
    margin-right: 40px;
}

.feedback-opinion {
    max-width: 273px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.feedback-opinion__person {
    margin: 24px 0px 116px 0px;
}

.feedback-opinion__person__name {
    color: #333333;
    font-family: "Open Sans";
    font-size: 1.25rem;
    font-weight: 700;
    font-style: normal;
    text-align: left;
}

.feedback-opinion__person__profession {
    color: #86878b;
    font-family: "Open Sans";
    font-size: 0.875rem;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
}

.design-block {
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
    font-family: "OpenSans", sans-serif;
    padding-bottom: 77px;
    padding-top: 73px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.design-block__button {
    padding-top: 33px;
}

.design-block__button__a {
    text-decoration: none;
    border: 1px solid #ffffff;
    padding: 15px 33px 14px 31px;
    display: inline-block;
    color: #ffffff;
}

.design-block__button__a:hover {
    box-shadow: 0 0 15px rgba(0,0,4,0.7);
    color: #ff8c2c;
}

/* CONTACTS */

.contact-box {
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 108px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact-form {
    width: 100%;
    margin-top: 91px;
}
.contact-form input, textarea {
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: grey;
    opacity: 0.6;
}
.contact-form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.contact-form__text {
    width: 40%;
}

.contact-form__groups {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.contact-form__items {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-bottom:43px;
    margin-right: 30px;
}
.contact-form__text textarea{
    width: 100%;
} 
.contact-form__items input {
    margin-bottom: 30px;
}
.contact-form__button {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;;
}
.contact-form__message {
    background: #ff9b51;
    border: none;
    border-radius: 3px;
    padding: 15px 22px 15px 24px;
    color: #ffffff;
    font-family: "OpenSans", sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
}
.contact-form__message:hover {
    cursor: pointer;
}

/* FOOTER */

.footer {
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
}

.footer__list__item {
    display: inline-block;
    padding-bottom: 15px;
    padding-top: 38px;
}

.footer__copyright {
    opacity: 0.5;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    padding-bottom: 15px;
}

/* MEDIA */

@media (max-width: 1400px) {
    .content, .header, .axit-block,
    .social-container, .features,
    .content, .box, .feedback-block,
    .design-block, .contact-box, 
    .footer {
        max-width: 90%;
    }
}
@media (max-width: 1040px) {
    .features {
        justify-content: space-around;
    }
    .axit-block__name {
        margin-right: 40px;
    }
    .features-tabs__list li {
        margin-right: 30px;
    }
    .features-tabs__name {
        margin-right: 30px;
    }
    .social {
        margin-right: 30px;
    }
    .features {
        flex-direction: column;
        justify-content: center;
    }
    .features-tabs__list {
        flex-direction: row;
        margin-bottom: 30px;
    }
    .features-name {
        text-align: center;
    }
    .features-image {
        display: flex;
        margin-top: 50px;
    }
}
@media (max-width: 998px) {
    .price-block__cards {
        flex-wrap: wrap;
    }
}
@media (max-width: 767px) {
    html {
        font-size: 13px;
    }
    .social-container {
        flex-wrap: wrap;
        width: auto;
        justify-content: center;
        text-align: center;
    }
}
@media (max-width: 686px) {
    .axit-block {
        flex-wrap: wrap;
        width: auto;
        justify-content: center;
        text-align: center;
    }
    hr {
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .contact-form__groups {
        width: auto;
        flex-direction: column; 
        justify-content: center;
        margin-right: 0 auto;
    }
    .contact-form__items {
        width: 100%;
        justify-content: center;
    }
    .contact-form__text {
        width: 100%;
        margin-bottom: 30px;
}
}
@media (max-width: 500px) {
    .navigation-list {
        display: none;
    }
    .social-logo__list-item {
        opacity: 0.4;
        color: #86878b;
        margin: 28px 10px 0px 0px;;
    }
}
@media (max-width: 500px) {
    .footer__list__item {
        margin: 0px -5px 0px -5px;
    }
}



